<form action="" [formGroup]="formdata">
  <div class="container">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="fill" >
            <h1 class="text-center mt-4">Fill Your Information Here</h1>
            <br>

            <div style="padding:50px">

              <div>
                <label>Name : </label>
                <input  id="input"  class="form-control" [ngClass]="{'red':formdata.controls.name.invalid && formdata.controls.name.touched}" name="name" formControlName="name"  [(ngModel)]="name">
                <span *ngIf="formdata.controls.name.invalid && formdata.controls.name.touched">Please enter valid name.</span>

              </div>

              <br>
              <div>
                <label>Email : </label>
                <input id="input" class="form-control" [ngClass]="{'red':formdata.controls.email.invalid && formdata.controls.email.touched}" name="email" formControlName="email"  [(ngModel)]="email">
                <span *ngIf="formdata.controls.email.invalid && formdata.controls.email.touched">Please enter valid email.</span>
              </div>
              <br>
              <div>
                <label>Mobile No. : </label>
                <input id="input" class="form-control" [ngClass]="{'red':formdata.controls.mobileno.invalid && formdata.controls.mobileno.touched}" name="mobileno" formControlName="mobileno" [(ngModel)]="mobileno">
                <span *ngIf="formdata.controls.mobileno.invalid && formdata.controls.mobileno.touched">Please enter valid mobileno.</span>

              </div>
              <br>
              <div>
                <label>Gender : </label>
                <label><input class="radio" type="radio" name="gender" formControlName="gender" value="Male" [(ngModel)]="gender">Male</label>

                <label><input class="radio" type="radio" name="gender" formControlName="gender" value="Female" [(ngModel)]="gender">Female</label>
              </div>
              <br>
              <div>
                <label>Favorite Topic: </label>
                <select  name="topic" id=""  formControlName="topic" [(ngModel)]="topic">
                  <option value="">Select topic</option>
                  <option value="computer science">computer science</option>
                  <option value="mathematics">mathematics</option>
                  <option value="staticstics">staticstics</option>
                  <option value="chemistery">chemistery</option>
                </select>
              </div>
              <br>
              <div>
                <button class="btn btn-dark"  (click)="parentFunction()" type="submit">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <app-output [parentdata]="data"></app-output>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>

</form>


